$SoftCyanSliderBar: hsl(174, 77%, 80%);
$StrongCyanSliderBackround: hsl(174, 86%, 45%);
$LightGrayishRedDiscountBackground: hsl(14, 92%, 95%);
$LightRedText: hsl(15, 100%, 70%);
$PaleBlue: hsla(190, 78%, 93%, 0.657);
$whiteBackground : hsl (0, 0%, 100%);
$MainBackground: hsl(229, 73%, 97%);
$LightGrayishEmptySlider: hsl(224, 65%, 95%);
$GrayishBlueToggleBackground: hsl(223, 50%, 87%);
$GrayishBlueText: hsl(225, 20%, 60%);
$DarkDesaturatedBlueTextCTABackground : hsl(227, 35%, 25%);



// - Family: [Manrope](https://fonts.google.com/specimen/Manrope)

$fontWeights:(
    "normal": 400,
    "bold": 800
);
